@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-opensans: openSans;
}

@theme {
  --color-texto-localizacao: #434345;
  --color-azul-claro: #004FFF;
  --color-azul-escuro: #0348E3;
  --color-padrao: #fff;
  --color-geral: #151313;

  --color-cards-borders: #4e5156;
  
  --color-cards-fundo: #041326;

  /* ----------- SERVIÇOS ----------- */
  --color-fundo-servicos: #020B17;

  /* ----------- PASSOS ----------- */

  /* ----------- ESCOLHA ----------- */
  
  /* ----------- ESCOLHA ----------- */
  --color-fundo-footer: #000;

  /* ----------- READY ----------- */
  --color-fundo-escolha: #041326;
  --color-fundo-inicial-card: #0F287E;
  --color-fundo-final-card: #03091c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-opensans), sans-serif;
}

.fundoHero {
  position: relative;
  z-index: 1;
}

.fundoHero::before {
  position: absolute;
  content: "";
  top: 0; left: 0; width: 100%; height: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/sofa.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;
}